.btn-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 20px 0;
}

.btn-container button {
  width: 500px;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 100;
}

.btn-container button:hover {
  background-color: #212529;
  color: coral;
}