div h2 {
    font-weight: 200;
    font-size: 50px;
    margin: 0;
}

.cat-gallery img {
    height: 300px;
    width: auto;
    margin: 1%;

}

.centered-hr-gallery {
    display: flex;
    justify-content: center;
}

.centered-hr-gallery hr {
    width: 900px;
}