div h1 {
    font-weight: 200;
    font-size: 60px;
    letter-spacing: 5px;
    margin: 0;
}

div h1 span {
    color: coral;
}

div img {
    width: 500px;
    margin: 20px 0;
    border-radius: 5px;
}

.centered-hr-container {
    display: flex;
    justify-content: center;
}

hr {
    width: 800px;
}

.home-btn button {
    font-size: 20px;
    font-weight: 100;
    width: 500px;
}

.home-btn button:hover {
    background-color: #212529;
    color: coral;
}